<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="~{layout ::head}"></head>
<body>
<header th:replace="~{layout ::header(title='/ Inventory')}"></header>
<nav th:replace="~{layout ::navigation}"></nav>
<main>
    <div>
        <a class="button-like" th:href="@{/inventory/form}">
            <i class="fas fa-plus"></i> Add New Inventory
        </a>
    </div>

    <div class="data-grid">
        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${table}" th:object="${row}">
                <td>
                    <a class="button-like"
                       th:href="@{/inventory/form(name=*{name})}"
                    >Edit</a>
                    <a class="button-like delete-button"
                       th:href="@{/inventory/delete(name=*{name})}"
                       th:attr="data-name=*{name}"
                   >Delete</a>
                </td>
                <td>
                    <span th:text="*{name}"></span>
                </td>
                <td>
                    <span th:text="*{stock}"></span>
                </td>
                <td>
                    <span th:text="*{description}"></span>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="pagination">
                        <div th:text="|Page ${currentPage} of ${totalPages}|"></div>
                        <div th:if="${totalPages != 0}">
                            <a th:each="loop:${#numbers.sequence(1, totalPages)}" class="button-like"
                               th:href="@{/inventory/index(page=${loop})}" th:text="${loop}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="modal">
        <div class="pop-up">
            <div><p>
                Are you sure want to delete <span class="name"></span> inventory?</p></div>
            <a class="button-like yes">Yes</a>
            <a class="button-like cancel">Cancel</a>
        </div>
    </div>
</main>
<footer th:replace="~{layout ::footer}"></footer>

</body>