<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="~{layout ::head}"></head>
<body>
<header th:replace="~{layout ::header(title='/ Booking')}"></header>
<nav th:replace="~{layout ::navigation}"></nav>
<main>
  <div>
    <form class="search-box" th:attr="action=@{/booking}" method="get">
      <table>
        <tbody>
        <tr>
          <td>
            <input type="text" name="number" th:value="${number}" placeholder="Room Number">
          </td>
          <td>
            <select name="type" th:value="${type}">
              <option th:value=null>Select Room Type</option>
              <option th:each="option : ${T(com.hospitality.SiHotel.enumeration.RoomType).values()}"
                      th:text="${option.label}"
                      th:value="${option.name().toString()}"
                      th:selected="${option.name() == type}">
              </option>
            </select>
          </td>
          <!--          <td>-->
          <!--            <select name="status" th:value="${status}">-->
          <!--              <option th:value=null>Select Status</option>-->

          <!--            </select>-->
          <!--          </td>-->
          <td>
            <button type="submit">Search</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>

  </div>

  <div class="data-grid">
    <table>
      <thead>
      <tr>
        <th>Action</th>
        <th>Number</th>
        <th>Floor</th>
        <th>Type</th>
        <th>Guest Limit</th>
        <th>Cost per Day</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="row : ${table}" th:object="${row}">
        <td>
          <a class="button-like"
             th:href="@{/booking/detail(number=*{number})}"
          >Detail</a>
        </td>
        <td>
          <span th:text="*{number}"></span>
        </td>
        <td>
          <span th:text="*{floor}"></span>
        </td>
        <td>
          <span th:text="*{T(com.hospitality.SiHotel.enumeration.RoomType).valueOf(type).label}"></span>
        </td>
        <td>
          <span th:text="*{guestLimit}"></span>
        </td>
        <td>
          <span th:text="*{#numbers.formatCurrency(costPerDay)}"></span>
        </td>
        <td>
          <span th:text="*{status}"></span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <div class="pagination">
            <div th:text="|Page ${currentPage} of ${totalPages}|"></div>
            <div th:if="${totalPages != 0}">
              <a th:each="loop:${#numbers.sequence(1, totalPages)}" class="button-like"
                 th:href="@{/booking/index(page=${loop})}" th:text="${loop}"></a>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

  <div class="modal">
    <div class="pop-up">
      <div><p>
        Are you sure want to delete <span class="name"></span> booking?</p></div>
      <a class="button-like yes">Yes</a>
      <a class="button-like cancel">Cancel</a>
    </div>
  </div>
</main>
<footer th:replace="~{layout ::footer}"></footer>

</body>